// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color: #040b38;
$secondary-color: #7d1702;

$images-url: "../../../assets/images/";
