// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//@include media-breakpoint-down(sm) {
//@include media-breakpoint-between(sm, md) {

.header {
    padding: 20px 0px;
    background-color: #101920;
    &-logo {
        img {
            object-fit: cover;
            height: 114px;
            width: 115px;
        }
    }

    &-text {
        &_list {
            width: 100%;
            &-item {
                color: #fff;
                font-style: normal;
                font-size: 20px;
                line-height: 34px;
                text-transform: uppercase;
                padding: 0px 50px;
                &-language {
                    padding: 0;
                    cursor: pointer;
                }
            }

            .dropdown {
                &-menu {
                    padding: 10px 30px;
                    &-item {
                        &-img {
                            width: 41px;
                            height: 41px;

                        }
                        text-transform: uppercase;
                        padding: 10px 0;
                        font-size: 20px;
                        p {
                            padding: 0px 20px;
                        }
                    }
                }
            }
        }
    }
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}
