// -----------------------------------------------------------------------------
// This file contains all styles related to the pager component.
// -----------------------------------------------------------------------------

.pager {
    &__item {
        @include media-breakpoint-up(lg) {
            padding: 40px;
        }
        font-size: 2.4rem;
        position: relative;
        padding: 20px;
        color: rgba(4, 11, 56, 0.3);
        &:after {
            @include pseudo();
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: transparent;
            @include transition();
        }
        @at-root a#{&}:hover {
            color: $primary-color;
            text-decoration: none;
            &:after {
                background-color: $primary-color;
            }
        }
        &--active {
            color: $primary-color;
            &:after {
                background-color: $primary-color;
            }
        }
    }
    &__actions {
        padding-left: 10px;
        &-item {
            font-size: 2.4rem;
            font-feature-settings: 'case';
            text-transform: uppercase;
            color: $primary-color;
            &:hover {
                opacity: 0.5;
                color: $primary-color;
            }
            &--prev {
                margin-right: 55px;
            }
            &--disabled {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }
}