// -----------------------------------------------------------------------------
// This file contains all styles related to the scroll top component.
// -----------------------------------------------------------------------------

.scroll-top {
    @include media-breakpoint-up(lg) {
        right: 30px;
        bottom: 30px;
        width: 48px;
        height: 48px;
        @include transition(opacity);
        &:hover {
            opacity: 0.5;
        }
    }
    right: 15px;
    bottom: 20px;
    width: 44px;
    height: 44px;
    background: url($images-url + 'arrow-top.svg') no-repeat center;
    border: 2px solid $primary-color;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
    &--active {
        visibility: visible;
        opacity: 1;
        z-index: 1000;
    }
}